<div>
  <div>
    <h1>
      List of Foods
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new food item
    </h2>

    <form action="/insert_fooditem" method="post">
      <div>
        <label for="food_group_name_box">
          Food Group
        </label>

        <input type="text" id="food_group_name_box" name="query_food_group_name">
      </div>

      <div>
        <label for="food_item_name_box">
          Food Item
        </label>

        <input type="text" id="food_item_name_box" name="query_food_item_name">
      </div>

      <div>
        <label for="portion_size_box">
          Portion Size
        </label>

        <input type="text" id="portion_size_box" name="query_portion_size">
      </div>

      <button>
        Add food item
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Food Group
        </th>

        <th>
          Food Item
        </th>

        <th>
          Portion Size
        </th>

         <th>
          
        </th>
      </tr>

      <% @list_of_fooditems.each do |a_fooditem| %>
      <tr>
      
        <td>
          <%= a_fooditem.food_group_name %>
        </td>

        <td>
          <%= a_fooditem.food_item_name %>
        </td>

        <td>
          <%= a_fooditem.portion_size %>
        </td>

        <td>
          <a href="/delete_fooditem/<%= a_fooditem.id %>">
            Delete food item
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
