<h1>My Diet Plan</h1>

<form action="/insert_diet_item">
  <label for="browser_meal">Meal</label>
  <input id="browser_meal" type="text" name="input_meal" placeholder="Example: Breakfast">

  <label for="browser_food_group_id">Food Group Id</label>
  <input id="browser_food_group_id" type="text" name="input_food_group_id" placeholder="Example: G1">

  <label for="browser_portions">Number of Portions</label>
  <input id="browser_portions" type="text" name="input_portions" placeholder="Example: 2">

  <button>Add diet item</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Meal</th>
    <th>Food Group Id</th>
    <th>Food Group Name</th>
    <th>Number of Portions</th>
    <th></th>
  </tr>

  <%# @diet_items.each do |diet_item| %>
  <tr>
    <td>
      <%#= diet_item.meal %>
    </td>

    <td>
      <%#= diet_item.food_group_id %>
    </td>

    <td>
      <%#= diet_item.food_group_name %>
    </td>

    <td>
      <%#= diet_item.portions %>
    </td>

    <td>
      <a href="/delete_diet_item/<%#= diet_item.id %>">
        Delete this diet item
      </a>
    </td>
  </tr>
  
  <%# end %>
</table>