<h1>My Breakfast</h1>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Food Group
        </th>

        <th>
          Number of Portions
        </th>

        <th>
          Food Item
        </th>

        <th>
          Portion Size
        </th>

      </tr>

      <% @list_of_diets.each do |a_diet| %>
      <tr>
     
       <td>
          <%= a_diet.food_group_name %>
        </td>

        <td>
          <%= a_diet.portions %>
        </td>

        <td>
          <label for="food_item"></label>

            <select name="food_item" id="food_item">
            <% Fooditem.where(:food_group_name => a_diet.food_group_name).each do |a_food_item| %>
              <option value="<%= a_food_item.food_item_name%>"><%= a_food_item.food_item_name%></option>
            <% end %>
            </select>
        </td>

        <td>
          <%#= a_food_item.portion_size %>
        </td>
        

      </tr>
      <% end %>
    </table>
  </div>
</div>

<p></p>

<div>
  <div>
    <form action="/insert_meal" method="post">

      <div>
        <label for="meal_name_box">
          Meal
        </label>

        <input type="text" id="meal_name_box" name="query_meal_name">
      </div>

      <div>
        <label for="food_group_name_box">
          Food Group
        </label>

        <input type="text" id="food_group_name_box" name="query_food_group_name">
      </div>

      <div>
        <label for="portions_box">
          Number of Portions
        </label>

        <input type="text" id="portions_box" name="query_portions">
      </div>

      <div>
        <label for="food_item_name_box">
          Food Item
        </label>

        <input type="text" id="food_item_name_box" name="query_food_item_name">
      </div>

      <div>
        <label for="portion_size_box">
          Portion Size
        </label>

        <input type="text" id="portion_size_box" name="query_portion_size">
      </div>


       <button>
        Record your meal
      </button>
    </form>
  </div>
</div>

<hr>