<h1>My Breakfast</h1>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Food Group
        </th>

        <th>
          Number of Portions
        </th>

        <th>
          Food Item
        </th>

        <th>
          Portion Size
        </th>

      </tr>

      <% @list_of_diets.each do |a_diet| %>
      <tr>
     
       <td>
          <%= a_diet.food_group_name %>
        </td>

        <td>
          <%= a_diet.portions %>
        </td>

        <td>
          Food Item
        </td>

        <td>
          Portion Size
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>