<h1>My Breakfast</h1>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Food Group
        </th>

        <th>
          Number of Portions
        </th>

        <th>
          Food Item
        </th>

        <th>
          Portion Size
        </th>

      </tr>

      <% @list_of_diets.each do |a_diet| %>
      <tr>
     
       <td>
          <%= a_diet.food_group_name %>
        </td>

        <td>
          <%= a_diet.portions %>
        </td>

        <td>
          <label for="food_item"></label>

            <select name="food_item" id="food_item">
            <% Fooditem.where(:food_group_name => a_diet.food_group_name).each do |a_food_item| %>
              <option value="<%= a_food_item.food_item_name%>"><%= a_food_item.food_item_name%></option>
            <% end %>
            </select>
        </td>

        <td>
          <%#= a_food_item.portion_size %>
        </td>
        

      </tr>
      <% end %>
    </table>
  </div>
</div>

<p></p>

<div>
  <div>
    <form action="/record_meal" method="post">

       <button>
        Record your meal
      </button>
    </form>
  </div>
</div>

<hr>