<div>
  <div>
    <h1>
      My Diet Plan
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new diet item
    </h2>

    <form action="/insert_diet_item" method="post">
      <div>
        <label for="meal_name_box">
          Meal
        </label>

        <select id="meal_name_box" name="query_meal_name">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
        </select>

      </div>

      <div>
        <label for="food_group_name_box">
          Food Group
        </label>

        <select id="food_group_name_box" name="query_food_group_name">
          <option value="G1">G1</option>
          <option value="G2">G2</option>
          <option value="G3">G3</option>
          <option value="G4">G4</option>
          <option value="G5">G5</option>
          <option value="G6">G6</option>
          <option value="G7">G7</option>
          <option value="G8">G8</option>
          <option value="G9">G9</option>
          <option value="G10">G10</option>
        </select>


      </div>

      <div>
        <label for="portions_box">
          Number of Portions
        </label>

        <select id="portions_box" name="query_portions">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>


      </div>

      <button>
        Add diet item
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        
        <th>
          Meal
        </th>

        <th>
          Food Group
        </th>

        <th>
          Number of Portions
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_diets.each do |a_diet| %>
      <tr>
     
        <td>
          <%= a_diet.meal_name %>
        </td>

        <td>
          <%= a_diet.food_group_name %>
        </td>

        <td>
          <%= a_diet.portions %>
        </td>

        <td>
          <a href="/delete_diet/<%= a_diet.id %>">
            Delete diet item
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
